*{
    margin: 0;
    padding: 0;
}


body{
    background:  hsl(185, 75%, 39%);  /* Background color */
    overflow: hidden;
}


.image-container{
    position: relative;
    
}
.image-top{
    position: absolute;
    content: "";
    width: 65%;
    transform: rotate(25deg);
    left: -20rem;
    top: -35rem;
}

.image-bottom{
    position: absolute;
    content: "";
    width: 50%;
    transform: rotate(10deg);
    left: 50rem;
    top: 10rem;
}

.profie-card-container{
    background: white;
    width: 25%;
    height: 30rem;
    /* margin-top: 8em; */
    /* margin: 10rem auto;  */
     margin-left: auto; 
    margin-right: auto;
    margin-top: 4rem;
    border-radius: 10px;
   
    /* padding: 1rem; */
    overflow: hidden;
}
.bg-pattern-card{
    height: 35%;
    z-index: 0;
}
.profile-Pic{
    /* position: absolute; */
    border-radius: 50%;
    margin-top: -5rem;
    /* top:50%;
    left: 50%; */
    border: 5px solid white;


}

.profile-pic-container{
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh;  */
    position: relative;
}

.Profile-name-title{
    text-align: center;
   
}
.Profile-name-title p{
    font-size: 14px;
    font-style: italic;
    /* font-weight: bold;  */
}
.Profile-name-title h4{
    color: hsl(185, 75%, 39%); 
}

.profile-Bio{
    font-size: 12px;
    padding: 10px 4rem;
  
}
.Current-time-container{
    position: relative;
 
    /* display: flex; */
    text-align: right;
   /* display: flex; */
    /* float: right;  */
}
.Current-time{
  position: absolute;
  content: "";
  padding: 5px;
  right: 0;
  font-size: 13px;
}

.profil-email{
    font-size: 13px;
    font-style: italic;
    text-align: center;
    margin-top: 4rem;
}
@media screen and (max-width:1024px){
    .profie-card-container {
        width: 45%;}

        .bg-pattern-card {
            width: 100%;}

            .image-container{
                display: none;
            }
}


@media screen and (max-width:768px), (max-width:820px){
    .profie-card-container {
        width: 50%;}
}
@media screen and (max-width:600px){
    .profie-card-container {
        width: 60%;}

        .image-container{
            display: none;
        }
}

@media screen and (max-width:375px), (max-width:320px), (max-width:414px), (max-width:430px){
    .profie-card-container {  
        width: 90%;}

        .profil-email{
            padding:5px;
            margin-top: 3rem;
        }
}

@media screen and (max-width:320px){

        .profil-email{
    padding:10px;
    margin-top: 2rem;
}
}
